body{
  /* background-image: linear-gradient(red,yellow);
   */
   background-image: url(https://images.pexels.com/photos/1229861/pexels-photo-1229861.jpeg?cs=srgb&dl=pexels-hasan-albari-1229861.jpg&fm=jpg);
   
   background-repeat: no-repeat;
   background-size: cover;
}
.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.maindiv{
  margin-top: 50px;
  width: 80%;
  height: 80%;
  background-color: rgba(142, 228, 228,.2);
  box-shadow: 0px 0px 40px rgba(10, 10, 10, 0.5);
  border-radius: 9px;
  overflow: auto;

}
.todo{
  display: flex;
  align-items: center;
  justify-content: space-between ;
  flex-direction: row;
  margin: 10px;

}
.inputab{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 7%;
}
.todo_icon{
  display: flex;
  align-items: center;
  width: 90px;
  justify-content: space-evenly;
}

.todoinput{
  text-align: center;
  width: 82%;
  
  border: 0px;
  height: 45px;
}
.addButton{
  /* padding-left: 20px;
  width: 20px;
  height: 20px;
  font-size: 20px; */
 display: flex;
 align-items: center;
}

.headingtodo{
font-family: emoji;
font-size: 40px;
color: rgb(141, 221, 221);


}

.todo{
  margin: 3% 13% 3% 10%;
  background-color: rgba(10, 10, 10, 0.5);
 padding-left: 2%;
  

}
